@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #000;
  color: whitesmoke;
}

.herobg{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btnBg{
  @apply bg-[url(https://assets-global.website-files.com/655dd78870c51459319f6bbb/655df71ede1029cae5386583_geo-3-p-500.png)] bg-no-repeat bg-center 
}
.cont{
  @apply mx-5 md:mx-20 lg:mx-40 xl:mx-48
}
.lines{
 z-index: 1;
 position: fixed;
 top: 0%;
 bottom: 0%;
 left: 0%;
 right:  0%;
}
.abslines{
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
height: 100%;
display: grid;
}
.linefull{
  grid-area: span/span/span/span;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to bottom, black 10%, blue 50%, black 90%);
  justify-self: center;
}
.linefull20{
background-image: linear-gradient(to bottom, var(--black) 30%, var(--blue-main) 50%, var(--black) 70%);
justify-self: center;
}
.linefull{
transform: translate3d(0px, 29.0486%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
transform-style: preserve-3d;
will-change: transform;
justify-self: center;
}